page-store {

  .my-point{
    position: fixed;
    right: 10%;
    top: 35%;
  }
  

  .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
        height: 305px !important;
        border-radius: 10px;
        //background-image: url('../assets/background/indonesia.png');
        background-size: cover;
        background-color: rgb(102, 172, 196);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 10px;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 20pt;
        width: 100%;
        font-weight: bold;
        color: white;
        background-color:rgba($color: black, $alpha: 0.7);
      }
      
      .card-subtitle {
        position: absolute;
        top: 46.5%;
        font-size: 13pt;
        width: 100%;
        color: white;
        margin-top: 0.1%;
        background-size: auto;
        background-color:rgba($color: black, $alpha: 0.7);
      }      
  }

    
}
