page-daily {
    ion-datetime:disabled{
        color: red !important;
    }
    ion-card{
        position: relative;
        border-radius: 10px !important;
        width:100% !important;
        height: 15% !important;
        margin-left:auto !important;
    }
    ion-card-header{
        position : absolute;
        left : 12%;
        top  : 3% !important;
        font-size: 10pt !important;
    }
    ion-card-content{
        position : absolute;
        left : 12%;
        top  : 50%;
        font-size: 11pt !important;
    }
    .matkul-panjang{
        margin-bottom: 100px !important;
    }
    .daily-icon{
        position: absolute;
        left:4%;
        top :22%;
        font-size: 30pt;
    }
    .ruangan{
        position: absolute;
        left: 20px;
        top:50px;
    }
    .matkul{
        background-color: #ffff99;
    }
    .task{
        background-color: rgb(197, 255, 192);
    }
    .quiz{
        background-color: rgb(255, 221, 221);
    }
    .garis-bawah{
        border: #030405 1.5px solid;
        width: 90%;
        margin-left:5%;
        margin-top: -5%
    }
    .time{
        text-align:center;
        margin-bottom:20px;
    }
    .calender{
        position: absolute;
        border: black 2.25px solid;
        left:4%;
        top :27%;
        height: 35px;
        width: 35px;
    }
    .month{
        position: absolute;
        font-size: 6pt;
        left: 15%;
        top: -1% !important;
    }
    .date{
        position: absolute;
        font-size: 11pt;
        font-weight: bold;
        top : 38%;
        left: 25%;
    }
    .pemisah-calender{
        position: absolute;
        left: 0px;
        top: 32%;
        width: 99.5%;
        border: red 1px solid;
    }
    .year{
        position: absolute;
        font-size: 6pt;
        left:13.5px;
        top:34.5px;
    }
    .freetime{
        text-align: center;
        vertical-align: middle;
        color: white;
        font-size: 36pt;
    }
}
