<!--
  Generated template for the DailyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border no-shadow>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Task Daily</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="time">
      <h4 ion-text><ion-datetime displayFormat="DDDD, D MMMM YYYY" [(ngModel)]="myDate" disabled></ion-datetime></h4>
      <!-- <div class="garis-bawah"></div> -->
  </div>

  <ion-card class="matkul" *ngFor="let class of classInfo" (click)="do_class(class)">
    <ion-icon name="book" class="daily-icon"></ion-icon>
    <ion-card-header text-wrap>
      {{class.kode_mk}}-{{class.kelas}} {{class.nama_mk}}
    </ion-card-header>
    <ion-card-content>
      {{class.ruangan}} ({{class.jam_mulai}} - {{class.jam_selesai}})
    </ion-card-content>
  </ion-card>
  <!-- <ion-card class="task" *ngFor="let assign of assignInfo" (click)="do_assignment(assign)"> -->
  <ion-card class="task" *ngFor="let assign of assignInfo" (click)="do_assignments(assign)">
    <div class="calender">
      <p class="month">{{assign.end_month}}</p>
      <div class="pemisah-calender"></div>
      <p class="date">{{assign.end_day}}</p>
    </div>
    <ion-card-header *ngIf="(assign.kode_mk.length+assign.nama_mk.length) > 35; else second">
        {{assign.kode_mk}} {{(assign.nama_mk)?.substring(0,25)}}...
    </ion-card-header>
    <ng-template #second>
      <ion-card-header>
        {{assign.kode_mk}} {{assign.nama_mk}}
      </ion-card-header>
    </ng-template>
    <ion-card-content>
      {{assign.end_hour}}
      <!-- <ion-datetime displayFormat="DD HH mm" [(ngModel)]="assignInfo.waktu" disabled></ion-datetime> -->
      <!-- {{tes_time(assign.enddate)}} -->
      <!-- {{assignInfo.waktu}} -->
      {{intervaltime(assign.id_elearning,assign.enddate)}}
    </ion-card-content>
  </ion-card>
  <ion-card class="quiz" *ngFor="let quiz of quizInfo" (click)="do_quiz(quiz)">
    <ion-icon name="help-circle" class="daily-icon"></ion-icon>
    <ion-card-header *ngIf="(quiz.kode_mk.length+quiz.nama_mk.length) > 35; else second">
      {{quiz.kode_mk}} {{(quiz.nama_mk)?.substring(0,25)}}...
    </ion-card-header>
    <ng-template #second>
      <ion-card-header>
        {{quiz.kode_mk}} {{quiz.nama_mk}}
      </ion-card-header>
    </ng-template>
    <ion-card-content>
      {{quiz.startdate}} - {{quiz.enddate}}
    </ion-card-content>
  </ion-card>
</ion-content>
